
:root {
    --color-dark: hsl(252, 30%, 17%);
}

", "::before, "::after {
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    border: none;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: var(--color-dark);
}